<form action="/api/users" method="POST" id="add_task">
    <div class="new_task">
        <div class="form-group">
            <label for="task_name" class="text-light">Task Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="task_name" value="" placeholder="e.g-Reading">
        </div>
        <div class="form-group">
          <label for="task_description" class="text-light">Task Description</label>
          <input type="text" name="task_description" value="" placeholder="e.g-Reading the story book">
      </div>
      <div class="form-group">
          <label for="creater" class="text-light">Creator</label>
          <input type="text" name="task-description" value="" placeholder="e.g-Steve Anthony">
      </div>
      <div class="form-group">
          <label for="duration" class="text-light">Task Duration</label>
          <input type="text" name="duration" value="" placeholder="In minutes">
      </div>
      <div class="form-group">
          <label for="created_at" class="text-light">Created At</label>
          <input type="text" name="created_at" value="" placeholder="HH:MM:SS">
      </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn text-dark update">Save</button>
    </div>
  
</form>